.border-2{
    border-left: 8px solid rgb(9, 153, 179);
}

.border-2:hover{
    border-bottom: 2px solid black;
}

.border-2:focus{
    outline: 1px solid;
    border-color: blue, blue, blue, 0;
}

.border-left{
    border-left: gray;
}

.size{
    width: 3%;
    height: 3%;
    margin-left: 590px;
    margin-top: 10px;
    margin-bottom: -30px;
}